[Oo]bj/
[Bb]in/
*.user
*.vspscc
*.vssscc
build
build/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
artifacts/*
msbuild.log
*.psess
/packages
/WebEssentials-Settings.json